<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
</head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<style>
  .center{
    margin-top: 20px;
    widows: 60%;
    }
    .copyright{
      font-size: 10px;
      text-align: center;
      
    }
    
</style>

<body>
<div class="container center">
    <div class="row">
        <div class=" col-lg-offset-3 col-lg-6 col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-globe"></i></a> Inscrivez-vous ! </legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="Prénom" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Nom de famille" type="text" required />
                </div>
               
            </div>
            <br>
            <input class="form-control" name="username" placeholder="Votre nom utilisateur" type="username" />
            <br>
            <input class="form-control" name="email" placeholder="Votre email" type="email" />
            <br>
            <input class="form-control" name="password" placeholder="Mot de passe" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Inscrivez-vous</button>
            
            </form>
        </div>
    </div>
    
</div>
<p class="copyright">Copyright © 2018 - Tous droits réservés. Réalisé par SocialStudent</p>
</body>

</html>



